.proyectContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper{
    padding: 10px 10%;
}

#cardArea{
    padding: 50px;
}

.boxArea{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 2fr));
    grid-gap:40px;
    margin-top: 5px;
}

.box {
    border: 3px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.691);
    background: #360327;
    background-image: -webkit-linear-gradient(top, #360327, #331ed0c8);
    background-image: -moz-linear-gradient(top, #360327, #1e1ed0b9);
    background-image: -ms-linear-gradient(top, #360327, #1e1ed0c5);
    background-image: -o-linear-gradient(top, #360327, #1e2ad0dd);
    background-image: -webkit-gradient(to bottom, #360327, #1e24d0e1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    
}

.box img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;

}

.overlay{
    height: 0;
    width: fit-content;
    border-radius: 10px;
    position: absolute;
    left: 20%;
    bottom: 2%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 5px;
    text-align: center;
    font-size: 1.1rem;
    transition: height 0.5s;
}

.overlay h3{
    font-size: 1.1rem;
    font-weight: 300px;
    margin-bottom: 5px;
    margin-top: 50%;
    letter-spacing: 2px;
}

.overlay a{
    margin-top: 2px;
    color: #262626;
    text-decoration: none;
    font-size: 1.375rem;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
}

.tech{
    display: flex;
    justify-content: space-between;
    
}

.tech img {
    height: 3.5rem;
    width: 100%;
    
    
}

.box:hover img{
    transform: scale(1.2);
    
}

.box:hover .overlay{
    height: 100%;
    
}

