

.AppContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    height: 100%;
    background: rgb(89, 93, 102);
    background: linear-gradient(47deg, rgb(19,20,21)  5%, rgb(24, 25, 26) 85%, rgb(39, 41, 43) 100%);
    padding: 0 9.375rem 9.375rem 9.375rem;
}

.aguila{
  position: fixed;
  right: 10vw;
  top:23vh;
  width: 15rem;
  filter:blur(1px);
  filter:brightness(60%);
  transition: 'transform 4s ease-out'
}


